<% @post.subs.each do |sub| %>
<h3><%= link_to "#{sub.title}", sub_url(sub) %></h3><br>
<% end %>

<h1><%= @post.title %></h1><br>
<span><%= @post.url %></span><br>
<span><%= @post.content %></span><br>

<% if signed_in? && @post.author_id == current_user.id %>
  <%= link_to "Edit Post", edit_post_url(@post) %>
  <%= button_to "Delete Post", post_url(@post), method: :delete %>
<% end %>


<h3>Comments</h3>
<%= button_to "Add Comment to Post", new_post_comment_url(@post), method: :get %><br>

<ul>
<% @all_comments[nil].each do |comment| %>
  <li><%= comment.content %><br></li>
  Author: <%= comment.author.username %><br>
  Created at: <%= comment.created_at %><br>
  <a href="<%= comment_url(comment) %>">Add Nested Comment</a><br><br>
  <%# if comment.child_comments %>
    <%#= render "comments/comment", all_comments: @all_comments[comment.id] %>
  <%# end %>
  <% unless @all_comments[comment.id].nil? %>
    <% @all_comments[comment.id].each do |child| %>
       <%= render "comments/comment", comment: child %>
     <% end %>
  <% end %>
  <br>
<% end %>
</ul>